---
import { Image } from "@astrojs/image/components";

export interface Props {
   name: string;
   img: string;
}

const { name, img } = Astro.props;
---

<div class="flex flex-col items-center gap-3 hover:scale-125 ease-out">
   <Image src={img} format="webp" alt={name} width={45} height={45} />
   <span class="uppercase font-medium text-xs">{name}</span>
</div>
