---
import { GRIDSKILLS } from "@/consts";
import SkillCard from "@components/SkillCard.astro";

const langs = GRIDSKILLS.langs;
const frameworks = GRIDSKILLS.frameworks;
const databases = GRIDSKILLS.databases;
const tools = GRIDSKILLS.tools;
---

<section class="h-auto py-16 my-8 group" id="skills">
   <div class="grid-container wrapper">
      <SkillCard tag="langs" elements={langs} />
      <SkillCard tag="frameworks" elements={frameworks} />
      <SkillCard tag="tools" elements={tools} />
      <SkillCard tag="database" elements={databases} />
   </div>
</section>

<style>
   .grid-container {
      @apply grid lg:grid-cols-4 md:grid-cols-2 grid-cols-1 gap-4 h-full;
   }
   article::hover {
      animation: shadow-drop-center 0.4s linear both;
   }
</style>
