---
import { Footer, Header, Menu } from "../components";

export interface Props {
   title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width" />
      <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
      <meta name="generator" content={Astro.generator} />
      <title>Jeferson Barrero | Developer, writer, creator | {title}</title>
      <link rel="canonical" href="https://jeffercbs.vercel.app" />
      <link rel="preconnect" href="https://fonts.googleapis.com" />
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
      <link
         href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap"
         rel="stylesheet"
      />
   </head>
   <body>
      <main>
         <div
            class="fixed inset-x-0 bottom-0 h-9 bg-[#1750fe] grid place-content-center z-[100]"
         >
            <span class="flex">
               <p>🙌 website in development, you can find it at</p>
               <a
                  href="http://github.com/jeffercbs/jeffercbs.dev"
                  target="_blank"
                  rel="noopener noreferrer"
                  class="mx-4 font-semibold"
               >
                  here</a
               >
            </span>
         </div>
         <Header client:visible />
         <slot />
         <Menu client:load />
         <Footer />
      </main>
   </body>
</html>
<style is:global>
   :root {
      --stain: radial-gradient(
         68.12% 106.26% at 100% 0%,
         #febd40 0%,
         #fe9b40a1 36.98%,
         #ffffff00 93.23%
      );
   }
   * {
      box-sizing: border-box;
      scroll-behavior: smooth;
   }
   body,
   main {
      @apply bg-night text-white;
      font-family: "Roboto", sans-serif;
      position: relative;
   }
   .wrapper {
      @apply lg:max-w-[1150px] max-w-none lg:mx-auto lg:px-0 px-4;
   }

   .menu-bottom {
      animation: menu-bottom 0.4s linear;
   }
   @keyframes menu-bottom {
      0% {
         transform: translateY(100px);
      }
      100% {
         transform: translateY(0);
      }
   }
   @keyframes shadow-drop-center {
      0% {
         box-shadow: 0 0 0 0 transparent;
      }
      100% {
         box-shadow: 0 0 20px 0 #ffffff8c;
      }
   }
</style>
