---
import { Header } from "../components";

export interface Props {
   title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width" />
      <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
      <meta name="generator" content={Astro.generator} />
      <title>{title}</title>
      <link rel="preconnect" href="https://fonts.googleapis.com" />
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
      <link
         href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap"
         rel="stylesheet"
      />
   </head>
   <body>
      <main>
         <Header client:visible />
         <slot />
      </main>
   </body>
</html>
<style is:global>
   :root {
      --stain: radial-gradient(
         68.12% 106.26% at 100% 0%,
         #febd40 0%,
         #fe9b40a1 36.98%,
         #ffffff00 93.23%
      );
   }
   * {
      box-sizing: border-box;
      scroll-behavior: smooth;
   }
   body,
   main {
      @apply bg-night text-white;
      font-family: "Roboto", sans-serif;
      position: relative;
   }
   .wrapper {
      @apply lg:max-w-[1150px] max-w-none lg:mx-auto lg:px-0 px-4;
   }
   @keyframes slide-bottom {
      0% {
         transform: translateY(-100px);
      }
      100% {
         transform: translateY(0px);
      }
   }
   @keyframes shadow-drop-center {
      0% {
         box-shadow: 0 0 0 0 transparent;
      }
      100% {
         box-shadow: 0 0 20px 0 #ffffff8c;
      }
   }
</style>
